nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href='#') Shop

    ul.nav.navbar-nav
      li
        a(href="/admin") Dashboard
      li
        a(href="/admin/products") Products

    ul.nav.navbar-nav.navbar-right
      li
        a(href="/admin/logout") Log Out
