doctype html
html
  head
    title Luis Vega
    link(rel="stylesheet", href="/css/vendors/bootstrap-3.1.1/bootstrap.min.css")
    link(rel="stylesheet", href="/css/guest/main.css")
  body
    .container
      h1 Welcome!

      block content

