doctype html
html
  head
    title Luis Vega
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")
  body
    .container
      h1 Welcome!

      block content

