extends ../layout

block content
  a(href="/admin/products/new") New Product

  table.table.table-striped
    tr
      th Name
      th Price
      th
    for product in products
      tr
        td
          a(href="/admin/products/#{ product.id }")= product.name
        td= product.price
        td
          form(action="/admin/products/#{ product.id }", method="POST")
            input(type="hidden", name="_method", value="DELETE")
            button.btn.btn-danger.btn-xs Delete
